.venv
__pycache__/
*.py[cod]
*$py.class
venv
.eggs
.pytest_cache
*.egg-info
.DS_Store
.vscode
dist
build
uv.lock

*.db
*.db-shm
*.db-wal
node_modules

# Vite build outputs
datasette_scribe/static/gen/
datasette_scribe/manifest.json
*.mp3
*.wav
